/* DELETE BUTTON */
.delete-btn{
  background:#dc2626;
  color:#fff;
  padding:6px 10px;
  border:none;
  border-radius:4px;
  cursor:pointer;
  margin-left:10px;
  font-size:14px;
}

.delete-btn:hover{
  background:#b91c1c;
}

/* Timetable list styling */
#timetableList li{
  background:#f8fafc;
  padding:10px;
  margin-bottom:8px;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
